body {
  display: flex;
}

.loading {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 16, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.loading .loader {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav {
  display: flex;
  flex-direction: column;
  width: 65px;
  max-width: 200px;
  min-width: 65px;
  height: 100%;
  color: white;
  background: rgba(0, 0, 170, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border: 1px solid rgba(0, 0, 170, 0.15);
  padding: 5px;
  overflow-y: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s;
}
.nav .name {
  text-align: center;
  font-size: 25px;
  word-break: break-all;
  padding: 10px;
  margin-top: 10px;
}
.nav .items {
  margin-top: 30px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}
.nav .items a {
  /* text-align: center; */
  color: white;
}
.nav .items a .it {
  padding: 10px;
  margin: 5px;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
  border: solid 1px transparent;
  display: flex;
  gap: 5px;
}
.nav .items a .it .icon {
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .items a:hover .it {
  border: solid 1px #0000aa;
}
.nav .items a:active .it {
  border-style: solid;
  background-color: #000077;
}
.nav .users {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 170, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 170, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: clip;
}
.nav .users * {
  font-weight: 100;
}
.nav .users h5, .nav .users h6 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav .users .one {
  max-width: 75%;
}
.nav .users .two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav .users .two button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.3s;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px rgba(170, 0, 0, 0.5);
  cursor: pointer;
  padding: 5px;
}
.nav .users .two button:hover {
  border-color: #aa0000;
}
.nav .users .two button:active {
  background-color: #aa0000;
}
.nav .users .two button:disabled {
  border: solid 1px rgba(170, 0, 0, 0.1);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  cursor: default;
}
.nav .users .two button svg path {
  fill: #5e0000;
}
.nav #menuToggle {
  background-color: rgba(0, 0, 170, 0.15);
  display: none;
}
.nav .items .sp .it {
  background-color: #000077 !important;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main main {
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}
.main footer {
  width: 100%;
  color: white;
  background: rgba(0, 0, 170, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border: 1px solid rgba(0, 0, 170, 0.15);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.main footer .text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.main footer .text h5 {
  word-break: break-word;
}
.main footer .text h6 {
  display: flex;
  gap: 5px;
}
.main footer .text * {
  font-weight: 100;
}
.main::-webkit-scrollbar {
  width: 20px;
}

main {
  overflow-x: auto;
}

@media only screen and (min-width: 601px) {
  .nav {
    width: 100% !important;
  }
  .nav .name {
    display: block !important;
  }
  .nav .items .it it {
    display: flex !important;
  }
  .nav .users {
    display: flex !important;
  }
}
@media only screen and (max-width: 600px) {
  .nav {
    position: fixed;
    z-index: 2;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .nav .name,
.nav .items .it it,
.nav .users {
    display: none;
  }
  body {
    display: block;
  }
  .main {
    width: calc(100% - 65px);
    height: 100%;
    max-height: 100vh;
    float: right;
  }
  .nav .items {
    margin-top: 10px;
    padding-bottom: 30px;
  }
  #menuToggle {
    display: flex !important;
  }
}/*# sourceMappingURL=dash_css.css.map */